@media screen and (min-width: 400px){
  .content .content__heading {
    font-size: 25px;
  }

  .hero_title {
    font-size: 30px;
  }

  .hero_tagline {
    font-size: 15px;
  }
}

@media screen and (min-width: 550px) {
  .restaurants {
      grid-template-columns: 1fr 1fr;
  }

  .content .content__heading {
    font-size: 28px;
  }

  .nav_item a {
      padding: 15px;
  }

  .nav_item {
      padding: 5px;
  }

  .hero_title {
    font-size: 38px;
  }

  .hero_tagline {
    font-size: 19px;
  }
}

@media screen and (min-width: 600px) {
  .app-bar_logo {
    left: 0;
  }
  
  .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
  }

  .app-bar .app-bar_menu{
      display: none;
  }
  .app-bar .app-bar_nav {
      position: static;
      width: 100%;
  }

  .nav_item {
      display: inline-block;
      font-size: 1.2em;
      border-bottom: none;
  }

  .nav_item a {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 0;
  }

  .hero_title {
    font-size: 40px;
  }

  .hero_tagline {
    font-size: 20px;
  }

  .content .content__heading {
    font-size: 32px;
  }

}


@media screen and (min-width: 700px) {
  .nav_item {
      font-size: 1.4em;
  }

  hero-inner {
    margin: 28%;
  }

  .hero_title {
    font-size: 42px;
  }

  .hero_tagline {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  .restaurants {
      grid-template-columns: repeat(3, 1fr);
  }
  .nav_item {
      font-size: 1.6em;
  }

  .hero_title {
    font-size: 60px;
  }

  .hero_tagline{
    font-size: 25px;
  }

  .content .content__heading {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  main {
      max-width: 1200px;
  }

  .content .content__heading {
    font-size: 40px;
  }
}


@media screen and (min-width: 1600px) {
  .restaurants {
      grid-template-columns: repeat(4, 1fr);
  }
}

